<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NO POST FOUND!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/error.css">
</head>
<body>
    <div class="oops">
        <img src="/oops image.jpg" alt="no image">
    </div>
    <a href="/posts">GO BACK TO ALL POSTS</a>
</body>
</html>